<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= header %></h1>
    <form action="<%= action %>" method="POST">
      <p>
        <label htmlFor="bioId">bioId:</label>
        <input type="text" name="bioId" id="bioId" />  
      </p>
      
      <!-- <label htmlFor="age">Age:</label> -->
      <!-- <input type="text" name="age" id="age" /> -->
      
      <button type="submit">Submit</button>
    </form>
    <a href="/"><button>Menu</button></a>
  </body>
</html>
