<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <h1>STATUS PAGE</h1>
      <div>
        <% let status = true %> 
        <%if(!status){%>
        <h2>Error</h2>

        <%}else{%>
        <h2>Success</h2>
        <%}%>
      </div>
      <a href="/"><button>Menu</button></a>
    </main>
  </body>
</html>
