<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
    <title>Menu</title>
  </head>
  <body>
    <main>
      <h1>Menu</h1>
      <div id="menu-opt">
        <a href="/all"><button>Get all </button></a>
        <a href="/getone"><button>Get superhero</button></a>
        <a href="/insertform"><button>Insert superhero</button></a>
        <a href="/updateform"><button>Update superhero</button></a>
        <a href="/remove"><button>Remove superhero</button></a>
      </div>
      
    </main>
  </body>
</html>
